<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085806419277-gd3k8q0rpa03tbkv1u6j60li2kmbn5ar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085806419277-gd3k8q0rpa03tbkv1u6j60li2kmbn5ar</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ0E2-Vsru3GDZSi9XRBUbbo1NH1GWwY0</string>
	<key>GCM_SENDER_ID</key>
	<string>1085806419277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.peep</string>
	<key>PROJECT_ID</key>
	<string>song-data-2bd13</string>
	<key>STORAGE_BUCKET</key>
	<string>song-data-2bd13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085806419277:ios:29c897e8195185cb48ab04</string>
	<key>DATABASE_URL</key>
	<string>https://song-data-2bd13-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
